<%- #This is for the pop up when A new posts create  -%>

<% if notice.present? %>
  <p class="alert alert-info">
    <%= notice %>

  </p>
<% end %>

<%- #We create a _post file and use that here and we will send @post value there  -%>

<%= render 'post' , post: @post  %>

<%- #Edit e dile edit action call hobe   -%>
<%- #Back dile /post e jabe  -%>

<%- #We dont want anyone to edit our blog those will be on manage posts  -%>
<%- #<%= link_to 'Edit', edit_post_path(@post)   -%>
<%- #<%= link_to 'Back', posts_path   -%>




